{
  "extends": [
    "eslint:recommended",
    "next/core-web-vitals",
    "plugin:typescript-sort-keys/recommended",
    "plugin:prettier/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": [
    "simple-import-sort",
    "sort-destructure-keys",
    "sort-keys-fix",
    "better-styled-components",
    "@typescript-eslint"
  ],
  "rules": {
    "no-unused-vars": 0,
    "@typescript-eslint/no-unused-vars": 2,
    "better-styled-components/sort-declarations-alphabetically": 2,
    "react/self-closing-comp": 2,
    "react/jsx-sort-props": 2,
    "react/jsx-pascal-case": 2,
    "arrow-body-style": [2, "as-needed"],
    "react-hooks/exhaustive-deps": 2,
    "import/first": 2,
    "import/newline-after-import": 2,
    "import/no-duplicates": 2,
    "simple-import-sort/imports": [
      2,
      {
        "groups": [
          ["^(react|redux)"],
          ["^@"],
          ["^@containers"],
          ["^@components"],
          ["^@utils"],
          ["^@store"],
          ["^"],
          ["^\\."]
        ]
      }
    ],
    "sort-destructure-keys/sort-destructure-keys": [
      2,
      { "caseSensitive": true }
    ],
    "sort-imports": 0,
    "sort-keys-fix/sort-keys-fix": [
      2,
      "asc",
      { "caseSensitive": true, "natural": true }
    ]
  }
}
